.background{
    background-color: #85dcbf;
}

/*start page*/
/*!**/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-header{
    margin-bottom: 50px;
    color: #41b3a3;
    font-weight: bold;
    font-family: Lato, sans-serif;
    font-size: 50px;
}

.intro-start-button{
    background-color: #e8a87c;
    border: 2px solid #e27d60;
    font-family: Lato,sans-serif;
    font-size: 30px;
    border-radius: 5px;
    color: white;
    padding: 20px;
    transition: transform 0.4s;
}


.intro-start-button:hover{
    cursor: pointer;
    background-color: #e27d99;
    border-bottom: 2px solid white;
    transform: scale(1.3);
}
/**!*/

.score-and-mode{
    background-color: #41b3a3;
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}
.score-and-mode-modes{
    margin-left: 50px;
}

.mode{
    font-family: Lato,sans-serif;
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
}
.score-and-mode-score{
    margin-right: 50px;
    font-family: Lato,sans-serif;
    font-size: 20px;
}

.selected-mode{
    color: red;
    font-weight: bold;
}

/*game itself*/

.pacman{
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 80px;
    transition: left 0.5s,top 0.5s;
}

.pacman-top{
    width: 200px;
    height: 100px;
    border-radius: 100px 100px 0 0;
    background-color: #f1ad1d;
    transform-origin: bottom center;
    display: inline-block;
    position: relative;
    animation-name: pacman-bites-top;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}


@keyframes pacman-bites-top {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-30deg);
    }
}
.pacman-top:before{
    content: '';
    position: absolute;
    border: 5px solid black;
    border-radius: 50%;
    top: 40px;
    right: 60px;
}

.pacman-bottom{
    width: 200px;
    height: 100px;
    border-radius: 0 0 100px 100px;
    background-color: #f1ad1d;
    transform-origin: top center;
    display: inline-block;
    animation-name: pacman-bites-bottom;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes pacman-bites-bottom {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(30deg);
    }
}


/*Food*/

.food{
    width: 15px;
    height: 15px;
    position: absolute;
    border: 1px solid black;
}